- if @model == 'user'
  %h3
    Users search for "#{@content}"
  = render 'users/index', users: @records
- elsif @model == 'book'
  %h3
    Books search for "#{@content}"
  = render 'books/index', books: @records
