.container
  .row
    .col-xs-3
      %h2 User info
      = render 'users/profile', user: current_user
      / メモ　右側の指定に注意。そこを間違えるとエラーが発生して表示されない
      %h2 New book
      = render 'books/new', book: @book
    .col-xs-9
      %h2 Users
      / users一覧
      = render 'index', users: @users