#top
  .top-caption
    %h1
      welcom to 
      %i.fas.fa-book-open
      fb_Book　!!
    %p
      In 
      %i.fas.fa-book-open
      %b fb_Book,
      %br/
      you can share and exchange your opinions , impressions , and emotions
      %br/
      about various books!
  .top-button
    %p= link_to "Log in", user_session_path, class: "btn btn-info col-xs-12"
    %p= link_to "Sign in", new_user_registration_path, class: "btn btn-success col-xs-12"

  %span CopyRight Infratop.inc


