#sign-up {
	width: 400px;
	height: auto;
	margin: 0 auto;
}
#sign-up h2{
	font-size: 40px;
}
#log-in h2{
	font-size: 40px;
}

#log-in {
	width: 400px;
	height: auto;
	margin: 0 auto;
}
.field {
	margin-top: 10px;
}
.actions {
	margin-top: 10px;
	margin-bottom: 5px;
}