// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
#top h1 {
	font-family: 'Acme', sans-serif;
	font-size: 45px;
}
#top p {
	font-family: 'Acme', sans-serif;
	font-size: 18px;
}
.top-caption {
	width: 500px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 10px;
}
.top-button {
	width: 500px;
	height: auto;
	margin-left: 30%;
}
button {
	height: 40px;
}
#top span {
	margin-left: 85%;
}